{% extends "base.html" %}
<!--  -->
{% block content %}
<!-- [ ] Add period select -->
<div class="flex relative">
  <div class="flex flex-col gap-4 w-[35%]">
    <div>
      <h1 class="text-3xl">Dashboard</h1>
      <div id="info">
        <ul class="">
          <li>
            <p>Total Scraped: <span class="animate-pulse">Loading..</span></p>
          </li>
          <li>
            <p>Total New Scraped: <span class="animate-pulse">Loading..</span></p>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <h3 class="font-bold text-xl">New Scraped Information</h3>
      <div id="new-info">
        <ul>
          <li>
            <p>Has Missing Value: <span class="animate-pulse">Loading..</span></p>
          </li>
          <li>
            <p>Has Invalid Value: <span class="animate-pulse">Loading..</span></p>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div class="flex gap-2">
        <h3 class="font-bold text-xl">Spreadsheet Information</h3>
        <p class="text-xs font-mono p-1 rounded border w-fit">Q1_MARCH_Working</p>
      </div>
      <!-- [ ] Create dropdown component to select the filename i.e. Q1_FEBRUARY_Working, Q1_MARCH_Working -->
      <div id="sheet-info">
        <ul>
          <li>
            <p>Unscraped URLs: <span class="animate-pulse">Loading..</span></p>
          </li>
          <li>
            <p>Not Yet Excluded: <span class="animate-pulse">Loading..</span></p>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <h3 class="font-bold text-xl">Missing Labels</h3>
      <ul id="missing-labels">
        <span class="animate-pulse">Loading..</span>
      </ul>
    </div>
    <div>
      <h3 class="font-bold text-xl">Invalid Labels</h3>
      <ul id="invalid-labels">
        <span class="animate-pulse">Loading..</span>
      </ul>
    </div>
    <div>
      <h3 class="font-bold text-xl">Excluded Tags</h3>
      <ul id="excluded-tags">
        <span class="animate-pulse">Loading..</span>
      </ul>
    </div>
    <div>
      <h3 class="font-bold text-xl">Property Types</h3>
      <ul id="property-types">
        <span class="animate-pulse">Loading..</span>
      </ul>
    </div>
  </div>
  <div class="w-[65%]">
    <div id="results" class="flex flex-col gap-3 p-2">
      <div class="flex justify-center items-center h-full">
        <svg class="animate-spin size-12" style="animation: spin 2s linear infinite; color: #b6ed34" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
          <path
            d="M18.364 5.63604L16.9497 7.05025C15.683 5.7835 13.933 5 12 5C8.13401 5 5 8.13401 5 12C5 15.866 8.13401 19 12 19C15.866 19 19 15.866 19 12H21C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C14.4853 3 16.7353 4.00736 18.364 5.63604Z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
  <form class="popup drop-shadow hidden transition ease-in-out bg-indigo-600 rounded p-3 left-[50%] -translate-x-1/2 w-[500px]">
    <h3 class="form-title text-xl font-bold mb-1">Edit</h3>
    <hr />
    <table class="table table-auto w-full my-3">
      <tbody>
        <tr>
          <td>
            <label for="title">Title</label>
          </td>
          <td>
            <input class="px-2 py-1 bg-transparent border rounded-md w-full" name="title" type="text" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="property-type">Type</label>
          </td>
          <td>
            <input class="px-2 py-1 bg-transparent border rounded-md w-full" type="text" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="location">Location</label>
          </td>
          <td>
            <input class="px-2 py-1 bg-transparent border rounded-md w-full" type="text" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="contract-type">Contract</label>
          </td>
          <td>
            <input class="px-2 py-1 bg-transparent border rounded-md w-full" type="text" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="leasehold-years">Years</label>
          </td>
          <td>
            <input class="px-2 py-1 bg-transparent border rounded-md w-full" type="text" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="currency">Currency</label>
          </td>
          <td>
            <select class="px-2 py-1 bg-transparent border rounded-md" name="currency" id="currency">
              <option value="idr">IDR</option>
              <option value="usd">USD</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label for="price">Price</label>
          </td>
          <td>
            <input class="px-2 py-1 bg-transparent border rounded-md w-full" type="text" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="bedrooms">Bedrooms</label>
          </td>
          <td>
            <input class="px-2 py-1 bg-transparent border rounded-md w-full" type="text" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="bathrooms">Bathrooms</label>
          </td>
          <td>
            <input class="px-2 py-1 bg-transparent border rounded-md w-full" type="text" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="build-size">Build Size</label>
          </td>
          <td>
            <input class="px-2 py-1 bg-transparent border rounded-md w-full" type="text" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="land-size">Land Size</label>
          </td>
          <td>
            <input class="px-2 py-1 bg-transparent border rounded-md" type="text" />
          </td>
        </tr>
      </tbody>
    </table>
    <div class="flex gap-2 justify-center">
      <button class="cancel-btn px-2 py-1 rounded-md bg-red-500 hover:bg-red-600" type="button">Cancel</button>
      <button class="update-btn px-2 py-1 rounded-md bg-blue-500 hover:bg-blue-600" type="button">Update</button>
    </div>
  </form>
</div>

{% endblock %}
<!--  -->
{% block script %}
<select id="exclusions" class="hidden">
  {% for item in exclusions %}
  <option value="{{item}}">{{item}}</option>
  {% endfor %}
</select>
<script src="{{ url_for('scripts', path='component/PropertyCard.js') }}"></script>
<script src="{{ url_for('scripts', path='dashboard.js') }}"></script>
{% endblock %}
